<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>

  <dataConfiguration defaultDatabase="app-dev" />

  <connectionStrings>
    <add name="app-dev" connectionString="xxx" providerName="System.Data.OracleClient" />
  </connectionStrings>

</configuration>
